DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=mysecretpassword
# Secret for data encryption, needs to be 32 bytes (AES Requirement)
SECRET_KEY=passphrasewhichneedstobe32bytes!
# JWT Secrets
TOKEN_ACCESS_SECRET=accesssecret
TOKEN_REFRESH_SECRET=refreshsecret
